

<h2>Cadastro Currículo</h2>

<form action="/Curriculo/Cadastro" method="post">
    <div class="form-horizontal">


        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Informações Pessoais</h3>
            </div>
            <div class="panel-body">

                <div class="form-group">
                    <label for="ClienteId" class="control-label col-md-2">
                        Nome:
                    </label>
                    <div class="col-md-6">
                        <input type="text" value="Digite seu nome" name="ClienteId" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="email" class="control-label col-md-2">E-mail:</label>
                    <div class="col-md-6">
                        <input type="text" value="Digite seu e-mail" name="email" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="DataNascimento" class="control-label col-md-2">Data Nascimento:</label>
                    <div class="col-md-3">
                        <input type="date" name="DataNascimento" class="form-control" />
                    </div>
                </div>


                <div class="form-group">
                    <label for="Altura" class="control-label col-md-2">Altura:</label>
                    <div class="col-md-1">
                        <input type="text" name="Altura" class="form-control" />
                    </div>
                </div>


                <div class="form-group">
                    <label for="Site" class="control-label col-md-2">Site:</label>
                    <div class="col-md-3">
                        <input type="text" value="Facebook, Linkedin" name="Site" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="EstadoCivil" class="control-label col-md-2">Estado Civil:</label>
                    <div class="col-md-5">
                        <select name="EstadoCivil" class="form-control">
                            <option value="">-- Selecione --</option>
                            <option value="Casado(a)">Casado(a)</option>
                            <option value="Solteiro(a)">Solteiro(a)</option>
                            <option value="Viúvo(a)">Viúvo(a)</option>
                        </select>
                    </div>
                </div>




                <div class="form-group">
                    <label class="control-label col-md-2">
                        Sexo:
                    </label>
                    <div class="col-md-10">
                        <div class="radio">
                            <label>
                                <input type="radio" name="Sexo" value="Masculino" />
                                Masculino
                            </label>

                            <label>
                                <input type="radio" name="Sexo" value="Feminino" />
                                Feminino
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Endereço</h3>
            </div>
            <div class="panel-body">


                <div class="form-group">
                    <label for="CEP" class="control-label col-md-2">CEP:</label>
                    <div class="col-md-4">
                        <input type="text" name="CEP" class="form-control" />
                    </div>
                </div>


                <div class="form-group">
                    <label for="Endereco" class="control-label col-md-2">Endereço:</label>
                    <div class="col-md-4">
                        <input type="text"  name="Endereco" class="form-control" />
                    </div>
                </div>

            </div>
        </div>




        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Contato</h3>
            </div>
            <div class="panel-body">


                <div class="form-group">
                    <label for="Telefone" class="control-label col-md-2">Telefone:</label>
                    <div class="col-md-4">
                        <input type="text" name="Telefone" class="form-control" />
                    </div>
                </div>


                <div class="form-group">
                    <label for="Celular" class="control-label col-md-2">Celular:</label>
                    <div class="col-md-4">
                        <input type="text" name="Celular" class="form-control" />
                    </div>
                </div>
            </div>
        </div>


        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Conhecimentos</h3>
            </div>
            <div class="panel-body">


                <div class="form-group">
                    <label class="control-label col-md-2">
                        Selecione a(s) linguagen(s)
                    </label>
                    <div class="col-md-10">
                        <div class="checkbox-inline">
                            <label>
                                <input type="checkbox" name="Html" /> Html
                            </label>
                        </div>
                        <div class="checkbox-inline">
                            <label>
                                <input type="checkbox" name="Css" /> CSS
                            </label>
                        </div>
                        <div class="checkbox-inline">
                            <label>
                                <input type="checkbox" name="Java" /> Java
                            </label>
                        </div>
                    </div>
                </div>

                               <div class="form-group">
                    <label for="Resumo"  class="control-label col-md-2">Mais conhecimentos:</label>
                    <div class="col-md-8" >
                        <textarea name="Resumo"  rows="04" class="form-control"></textarea>
                    </div>
                </div>
            </div>
        </div>

     
        <div class="form-group">
            <div class="text-center col-md-12">
                <input type="submit" value="Enviar" class="btn btn-primary" />
            </div>
        </div>
    </div>

</form>


